{% extends 'base.html' %} 
{% load widget_tweaks %} 
{% block content %}
<!--Confirmation of password reset - or error if link out of date-->
<section class="container mt-3 mb-5">
  <div class="row">
    <div class="col-10 offset-1 form-container py-3">
      <div class="accounts--form">
      {% if validlink %}
        <div class="row justify-content-center">
          <div class="col-10">
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <h5>Reset your password</h5>
              </div>
              <div class="row">
                <h6>Enter your new password</h6>
                <div class="col-12 styled-box pl-2" tabindex="0">
                  {% render_field form.new_password1 %}
                </div>
              </div>
              <div class="row">
                <h6>Re-enter your new password</h6>
                <div class="col-12 styled-box pl-2" tabindex="1">
                  {% render_field form.new_password2 %}
                </div>
              </div>  
              <div class="row">
                <div class="col-12">
                  <ul class="helptext">
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                  </ul>
                </div>
              </div> 
              <div class="row justify-content-center">
                <div class="col-6 col-sm-4 text-center">
                  <button class="btn btn-primary" type="submit">Change password</button>
                </div>
              </div>              
            </form>
          </div>
        </div>

        {% else %}  
        <div class="row justify-content-center">
          <div class="col-10">        
            <p>
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </p>
          </div>
        </div>
        {% endif %}
      </div> 
    </div>
  </div>
</section>
{% endblock %}