{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<section class="container">
  <div class="row">
    <div class="col-10 offset-1 accounts--form-container">
      <div class="accounts--form">
      <h6>Password reset</h6>
      <p>Please enter your email address. A link will be sent to you to reset your password.</p>
      <div class="row">
        <div class="col-12">
          <p>Email</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1 styled-box index--option">
            <div class="row h-100">
              <div class="col-12" tabindex="0">
              <form method="post">
                {% csrf_token %} {% render_field form.email %}
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-3 col-sm-4 text-center">
          <button class="btn" type="submit">Submit</button>
        </div>
      </div>
        </div>
      </div>
    </div> 
  </div>
  </div>
  
</section>
{% endblock %}
