$dark-base:  #003273; //Dark Blue
$light-base: #1761BF; // Light Blue
$dark-contrast: #734D07; // Brown
$mid-contrast: #FFB938; // Beige
$light-contrast: #FFB938; // Yellow

$font-base: #444444; // Grey 


body { 
    font-family: "Montserrat", sans-serif;
}    

a {
    text-decoration:none !important;
    color: $font-base;
    cursor: pointer;
}
a:hover {
    color: $dark-base;    
}

//----- NAVBAR -----//

.navbar {
    background-color: $dark-base !important;
    button {
        color: $light-contrast !important;  
        background-color: transparent;
        border: none;
        outline: none;
    }
    .navbar-nav li span {
        font-weight: 700;
        color: $light-contrast !important;
    }
    a {
        line-height: .75; 
        color: $light-contrast;
    }
    .navbar-brand span {
        font-size: 0.75rem;
    }
}

.navbar-brand {
    font-family: 'Cinzel Decorative', serif;
    color: $light-contrast !important;
}

//-----MODALS-----//

.modal {
    margin:auto;
    font-size:1rem;
    font-family: 'Montserrat', sans-serif !important;
    li {
        line-height:2.5;
    }
    a {
        color: $font-base;
        text-decoration: none;
    }
}

#filterModal {
    li {
        list-style-type:None;
        line-height:1.5;
        label {
            font-size:1rem; 
            margin-bottom:0;
        }
    }
}

//-----INDEX-----//
.index--title-image {
    background-image: url('/media/images/background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    display:flex; 
    align-items: center; 
    justify-content: center;
}

.index--title-text {
    position:absolute; 
    color: white;
    text-align:center;
    text-shadow: 0px 0px 15px #000000; ;
    h1{
        font-family: 'Cinzel Decorative', serif;    
    }
}

.index--call-to-action {
    background-color: $dark-base !important;
    h6 {
        color: $light-contrast;    
    }
    h4 {
        color: $light-contrast;
        font-weight: 700;   
    }
    p {
        font-size: 0.75rem;
        color: white;       
    }
}

.index--option {
    font-size:1rem;
    font-weight: 700; 
    img {
        width:100%;
    }      
    a {
        color: $font-base;
    }
    p {
        font-size:0.75rem;
    }        
}

.index--artifact-image {
    height:20vw; 
    object-fit:cover;
}    


//-----GENERAL STYLES-----//

//--styling for error lists on form validation --//
.errorlist {
    list-style-type: none;
    padding:0;
    color: red;
    font-size:0.75rem;
}

.hvr-sweep-to-right:before {
    background-color: $mid-contrast;    
}

//--Styling for lists and options in grid layout--//
.styled-box {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height:2.5;
    outline: solid 2px $light-base;
    border-left: solid 5px $mid-contrast;
    input {
        border: none; 
        outline: none;
    }
}

//--Buttons--//
.btn {
    margin-top:10px;
    font-size: 0.8rem;  
    outline: none !important;
}

.btn-primary  {
    color: $dark-base !important;
    background-color: $light-contrast !important;
    border: $dark-contrast solid 2px !important;  
    width:125px;
    a {
        color: $dark-base !important;
    }    
}

.btn-primary:active, .btn-primary:focus {
    outline: 0 !important;
    box-shadow:  0px 0px 0px 3px $dark-contrast !important;    
}


.btn-dark {
    color: white !important;
    background-color: $dark-base !important;
    border: $light-base solid 2px !important; 
    width:125px;
    a {
        color: white !important;
    }     
}

.btn-dark:active, .btn-dark:focus {
    outline:0 !important;
    box-shadow:  0px 0px 0px 2px $light-base !important;    
}



.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23734D07' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23734D07' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

//-----ACCOUNTS-----//

.accounts--form-container {
    color: $font-base;
    border: $dark-base 4px solid;
    border-radius: 2%;
    p {
        font-size:0.75rem;
        padding:0;
        margin:0;
    }
    input {
        font-size:.8rem;    
        border: none; 
        outline: none;   
        width:100%;
    }
    
}

.search-bar-container {
    button {
        border:none;
        background-color: transparent;
        outline:none;
        color: $light-contrast;
    }
}

.search-bar {
    border: 1px solid $font-base
}

.search-icon {
    color: $light-contrast;
    background-color: $dark-base;
    padding: 5px 7px 0 0;
}

.search-options {
    button {
        color: $light-base;
        outline: none;
        background-color: transparent;
        border: none;
    }
}


//-----ARTIFACTS LIST-----//


.artifact-list{
    font-size:0.75rem;
    a {    
        color: $font-base;        
    }
    p {
        line-height:1.5;
    }    
}

.artifact-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;   
    max-width:100%;
}

.artifact-sold-image {
    position:absolute; 
    left:0;
    top:10%;
}

.page-link{ 
    color: $dark-contrast;
}

.page-link:active {
    box-shadow: 0 0 0 2px $light-base !important;    
}

.page-link:focus {
    box-shadow: 0 0 0 2px $light-base !important;    
}

.page-item.active .page-link{
    color: $light-contrast;
    background-color: $dark-base;
    border-color: $light-base;
    
}


//-----DISPLAY ARTIFACT-----//

.artifact-single{
    img {
        border: solid  $dark-contrast 5px;
    }
}

    .bid-history-btn {
        outline: none;
        background: transparent;
        border: none;
        color: $light-base;
        padding:0;
    }

.review-container {
    line-height:0;
    
    .review-star  {
        color: $light-contrast;
    }
    .review-empty-star {
        color: $dark-base;
    }
}

#id_amount_bid {
    font-size:0.8rem;
}

#history-collapse {
    a {
        color: $dark-base;
        cursor: pointer;
    }
}

//-----FOOTER-----//

footer {
    background-color:$dark-base;
    color: $light-contrast;
    a {
        font-size:0.75rem;
        color: $light-contrast !important;
    }
    li {
        margin: 0 5px;
    }
}

//-----MEDIA QUERIES-----//
@media (min-width:768px) {
    h1 {
        font-size: 4rem;
    }
    h4 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.5rem;
    }    
    h6 {
        font-size:1.25rem;
    }
    p {
        font-size: 1rem !important;
    }
    
    footer {
        a { 
            font-size: 1rem;
        }
    }
    .navbar {
        a {
            font-size: 1rem;
        }
        i {
            font-size: 1.25rem;
        }
        .navbar-brand {
            font-size:2rem;
        }  
        .navbar-brand span {
            font-size:1rem;
        }
    }

    .search-options {
        button {
            font-size:1.1rem;
        }
    }    
}

@media (min-width: 1280px) {
    h1 {
        font-size: 6rem;
    }
    h4 {
        font-size: 3rem;
    }
    h5 {
        font-size: 1.75rem;
    }    
    h6 {
        font-size:1.5rem;
    }
    p {
        font-size: 1rem !important;
    }
    footer {
        a { 
            font-size: 1.5rem;
        }
    }    
    
    .navbar {
        .navbar-brand  {
            padding-left:20px;
            font-size:2.5rem;
        }
        .navbar-brand span {
            font-size:1.25rem;
        }        
    }        
  
}