$background-color-dark: #003273; //Dark Blue
$background-color-light: #1761BF; // Light Blue
$font-color-light: #FFB938; // Yellow
$font-color-dark: #734D07; // Brown
$font-color-grey: #444444; // Grey
$font-color-blue: #003273;
$highlight-color-light: #FFB938; // Beige
$highlight-color-dark: #734D07; // Brown



.navbar {
    background-color: $background-color-dark !important;
    button {
        color: $font-color-light !important;  
        background-color: transparent;
        border: none;
        outline: none;
    }
    .navbar-nav li span {
        font-family: 'Nanum Gothic', sans-serif !important;
        font-weight: 700;
        color: $font-color-light !important;
    }
    a {
        text-decoration:none;
        color: $font-color-light !important;
        line-height: .75;        
    }
    .navbar-brand span {
        font-size: 0.75rem;
    }
}

.navbar-brand {
    font-family: 'Cinzel Decorative', serif;
    color: $font-color-light !important;
}

.modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
}


.title-image {
    background-image: url('/media/images/background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    display:flex; 
    align-items: center; 
    justify-content: center;
}

.title {
    position:absolute; 
    color: white;
    text-align:center;
    text-shadow: 0px 0px 15px #000000; ;
    h1 {
        font-size:2rem;
        font-family: 'Cinzel Decorative', serif;    
    }
    h4 {
        font-size:1rem;
        font-family: 'Nanum Gothic', sans-serif !important;
        font-weight: 700; 
    }    
}

.call-to-action {
    padding:15px 0 10px 0;
    background-color: $background-color-dark !important;
    font-family: 'Nanum Gothic', sans-serif !important;
    text-align: center;
    h4 {
        color: $font-color-light;    
    }
    h5 {
        color: $font-color-light;
        font-weight: 700;         
        font-size:1rem;
    }
    p {
        font-size: 0.75rem;
        color: white;       
    }
}

.options {
    padding: 10px 0 40px 0;
}
    .option-list {
        font-size:1rem;
        font-family: 'Nanum Gothic', sans-serif !important;
        font-weight: 700; 
        margin-top: 5px;
        margin-bottom: 5px;
        line-height:2.5;
        img {
            width:100%;
        }      
        a {
            text-decoration: none;
            color: $font-color-grey;
        }
        p {
            font-size:0.75rem;
            
        }        
    }




.hvr-sweep-to-right:before {
    background-color: $highlight-color-light;    
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:$background-color-dark;
    color: $font-color-light;
    font-family: 'Nanum Gothic', sans-serif !important;
    
    a {
        font-size:0.75rem;
        text-decoration:none;
        color: $font-color-light !important;
    }
    li {
        margin: 0 5px;
    }
}

.modal {
    font-size:1rem;
    font-family: 'Nanum Gothic', sans-serif !important;
    li {
        line-height:2.5;
    }
    a {
        color: $font-color-grey;
        text-decoration: none;
    }
    
}

.account-form-container {
    color: $font-color-grey;
    margin-top:20px;
    margin-bottom:50px;
    border: $background-color-dark 4px solid;
    border-radius: 2%;
    .account-form {
        padding-top:20px;
        padding-bottom:20px;
    }
    p {
        font-size:0.75rem;
        padding:0;
        margin:0;
    }
    input {
        font-size:1rem;    
    }
}

.btn {
    margin-top:10px;
    font-size: 0.8rem;
            color: $font-color-blue;
        background-color: $highlight-color-light;
        border: $highlight-color-dark solid 2px;  
}

.btn-file {
    position: relative;
    overflow: hidden;
 
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.search-bar-container {
    margin-top:20px;
    margin-bottom:20px;
    button {
        border:none;
        background-color: transparent;
        outline:none;
        color: $font-color-light;
    }
}

.search-bar {
    border: 1px solid $font-color-grey
}

.search-icon {
    color: $font-color-light;
    background-color: $background-color-dark;
    padding: 5px 7px 0 0;
}

.artifact-information {
    font-size:0.75rem;
    a {    
        text-decoration:none;
        color: $font-color-grey;        
    }
    h4 {
        font-size:1rem;
    }
    p {
        line-height:1.5;
    }    
}


.artifact-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;   
    line-height:10;
}

.styled-box {
            outline: solid 2px $background-color-light;
        border-left: solid 5px $highlight-color-light;  
}
