$background-color-dark: #003273; //Dark Blue
$background-color-light: #1761BF; // Light Blue
$font-color-light: #FFB938; // Yellow
$font-color-dark: #734D07; // Brown
$font-color-grey: #444444; // Grey
$font-color-blue: #003273; // Dark blue
$font-color-light-blue: #1761BF; // Light blue
$highlight-color-light: #FFB938; // Beige
$highlight-color-dark: #734D07; // Brown


body { 
    font-family: "Montserrat", sans-serif;
}    

a {
    text-decoration:none !important;
    color: $font-color-light;
}

//----- NAVBAR -----//

.navbar {
    background-color: $background-color-dark !important;
    button {
        color: $font-color-light !important;  
        background-color: transparent;
        border: none;
        outline: none;
    }
    .navbar-nav li span {
        font-weight: 700;
        color: $font-color-light !important;
    }
    a {
        line-height: .75;        
    }
    .navbar-brand span {
        font-size: 0.75rem;
    }
}

.navbar-brand {
    font-family: 'Cinzel Decorative', serif;
    color: $font-color-light !important;
}

//-----MODALS-----//

.modal {
    font-size:1rem;
    font-family: 'Montserrat', sans-serif !important;
    li {
        line-height:2.5;
    }
    a {
        color: $font-color-grey;
        text-decoration: none;
    }
}

.modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
}

#filterModal {
    li {
        list-style-type:None;
        line-height:1.5;
        label {
            font-size:1rem; 
            margin-bottom:0;
        }
    }
}

//-----INDEX-----//
.index--title-image {
    background-image: url('/media/images/background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    display:flex; 
    align-items: center; 
    justify-content: center;
}

.index--title-text {
    position:absolute; 
    color: white;
    text-align:center;
    text-shadow: 0px 0px 15px #000000; ;
    h1 {
        font-size:2rem;
        font-family: 'Cinzel Decorative', serif;    
    }
    h4 {
        font-size:1rem;
        font-weight: 700; 
    }    
}

.index--call-to-action {
    padding:15px 0 10px 0;
    background-color: $background-color-dark !important;
    text-align: center;
    h4 {
        color: $font-color-light;    
    }
    h5 {
        color: $font-color-light;
        font-weight: 700;         
        font-size:1rem;
    }
    p {
        font-size: 0.75rem;
        color: white;       
    }
}

.index--options-container {
    padding-top: 10px;
    padding-bottom: 40px;
}

.index--option {
    font-size:1rem;
    font-weight: 700; 
    img {
        width:100%;
    }      
    a {
        color: $font-color-grey;
    }
    p {
        font-size:0.75rem;
    }        
}


//-----GENERAL STYLES-----//

//--styling for error lists on form validation --//
.errorlist {
    list-style-type: none;
    padding:0;
    color: red;
    font-size:0.75rem;
}

.hvr-sweep-to-right:before {
    background-color: $highlight-color-light;    
}

//--Styling for lists and options in grid layout--//
.styled-box {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height:2.5;
    outline: solid 2px $background-color-light;
    border-left: solid 5px $highlight-color-light;
    input {
        border: none; 
        outline: none;
    }
}

//--Select button--//
.btn {
    margin-top:10px;
    font-size: 0.8rem;
    color: $font-color-blue;
    background-color: $highlight-color-light;
    border: $highlight-color-dark solid 2px; 
    a {
        color: $font-color-blue;
    }
}

//-----ACCOUNTS-----//

.accounts--form-container {
    color: $font-color-grey;
    margin-top:20px;
    margin-bottom:50px;
    border: $background-color-dark 4px solid;
    border-radius: 2%;
    .accounts--form {
        padding-top:20px;
        padding-bottom:20px;
    }
    p {
        font-size:0.75rem;
        padding:0;
        margin:0;
    }
    input {
        font-size:1rem;    
        border: none; 
        outline: none;    
    }
    
}

.accounts--profile-btn {
    width: 100%;
    margin-bottom: 20px;
}

/*
img {
    padding-top: 20px;
}
*/
.search-bar-container {
    margin-top:20px;
    margin-bottom:20px;
    button {
        border:none;
        background-color: transparent;
        outline:none;
        color: $font-color-light;
    }
}

.search-bar {
    border: 1px solid $font-color-grey
}

.search-icon {
    color: $font-color-light;
    background-color: $background-color-dark;
    padding: 5px 7px 0 0;
}

.search-options {
    button {
        color: $font-color-light-blue;
        outline: none;
        background-color: transparent;
        border: none;
    }
}


//-----ARTIFACTS LIST-----//


.artifact-list{
    font-size:0.75rem;
    a {    
        color: $font-color-grey;        
    }
    h4 {
        font-size:1rem;
    }
    p {
        line-height:1.5;
    }    
}

.artifact-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;   
    line-height:10;
    margin-left:5px;
    margin-right:-5px;
}

.artifact-list-paginationbar {
    margin-top:20px;
    margin-bottom: 40px;
}

.page-link{ 
    color: $font-color-dark;
}

.page-item.active .page-link{
    color: $font-color-light;
    background-color: $background-color-dark;
    border-color: $background-color-light;
}


//-----DISPLAY ARTIFACT-----//

.artifact-single{
    font-size:0.9rem;
    a {
        color: $font-color-blue;
    }
    .row {
        padding-top:10px;
    }
    img {
        border: solid  $highlight-color-dark 5px;
    }
    .bid-history-btn {
        outline: none;
        background: transparent;
        border: none;
        color: $font-color-light-blue;
        padding:0;
    }
}

.artifact-details {
    margin-bottom:30px;
    .row {
        margin-bottom:10px;
    }
    .collapse {
        padding-bottom:10px;
    }
}


.review-container {
    line-height:0;
    
    .review-star  {
        color: $font-color-light;
    }
    .review-empty-star {
        color: $font-color-blue;
    }
}

#id_amount_bid {
    font-size:0.8rem;
}

//-----FOOTER-----//

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:$background-color-dark;
    color: $font-color-light;
    a {
        font-size:0.75rem;
        color: $font-color-light !important;
    }
    li {
        margin: 0 5px;
    }
}