{% extends 'base.html' %}

{% block content %}
<!--Success and error messages - displayed at top, contrary to other pages, since list of owned artifacts may 
push content beyond display height-->
<section class="container">
    <div class="row pt-3">
        <div class="col-12">
            <ul class="list-unstyled">
            {% if messages %}
                {% for message in messages %}
                <li class="alert {{ message.tags }}" >{{ message }}</li>
                {% endfor %}
            {% endif %}  
            </ul>
        </div>
    </div>     
</section>

<!--Display list of artifact won but not yet paid for by user-->
{% if artifacts_won|length > 0 %}
<section class="container">
    <div class="row mt-3 justify-content-center" >
        <div class="col-8 text-center">
            <h5>Artifacts won</h5>
        </div>
    </div>
    {% for id, item in artifacts_won.items %}
    <a href="{% url 'display_artifact' id=item.artifact.id %}">  
        <!--Show artifact image, or placeholder if none-->
        <div class="row justify-content-around d-flex flex-wrap align-items-center mt-3 mx-1">
            {% if item.artifact.image %}
            <div class="col-4 col-sm-2 d-inline-block artifact-image text-center">
                <img class="img-fluid" src="{{ MEDIA_URL }}{{ item.artifact.image }}" alt="image of {{item.artifact.name}}">
            </div>
            {% else %}
            <div class="col-4 col-sm-2 d-inline-block artifact-image text-center">
                <img class="img-fluid" src="/media/images/placeholder.png" alt="placeholder image">
            </div>    
            {% endif %}    
            <div class="col-8">
                <h6>{{ item.artifact.name }}</h6>   
                <span class="auction-current-bid">Winning bid: £{{ item.bid }}</span>
            </div>
        </div>    
    </a>    
    <hr>    
    {% endfor %}
    
    <!--Display total purchase price of all artifacts won-->
    <div class="row" >
        <div class="col-12 text-right">
            <h6>Total: £{{ total }}</h6>
        </div>
    </div>    
    <div class="row">
        <div class="col-12 text-right">
            <a class="btn btn-primary" href="{% url 'buy_all' %}">Pay Now</a>
        </div>
    </div>
</section>
{% endif %}    

<!--If user has won artifacts and also owns artifacts display a page breaker to provide clear separation of lists-->
{% if artifacts_owned|length > 0 and artifacts_won|length > 0 %}
<section>
        <div class="row justify-content-center mt-3">
            <div class="col-1 text-center my-auto">
                <h6>&#10016</h5>
            </div>
            <div class="col-1 text-center my-auto">
                <h4>&#10016</h4>
            </div>
            <div class="col-1 text-center my-auto">
                <h6>&#10016</h5>
            </div>
        </div>   
</section>
{% endif %}

<!--Display list of all artifacts owned by the user-->
{% if artifacts_owned|length > 0 %}
<section class="container my-3">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h5>Artifacts owned</h5>
        </div>
    </div>

    {% for artifact in artifacts_owned %}
    <a href="{% url 'display_artifact' id=artifact.id %}">  
        <!--Display artifact image or, if none, a placeholder image-->
        <div class="row justify-content-around d-flex flex-wrap align-items-center artifact-information mt-3 mx-1">
            {% if artifact.image %}
            <div class="col-4 col-sm-2 col-lg-2 d-inline-block artifact-image text-center">
                <img class="img-fluid" src="{{ MEDIA_URL }}{{ artifact.image }}" alt="image of {{artifact.name}}">
            </div>
            {% else %}
            <div class="col-4 col-sm-2 col-lg-2 d-inline-block artifact-image text-center">
                <img class="img-fluid" src="/media/images/placeholder.png" alt="placeholder image">
            </div>
            {% endif %}    
            <div class="col-8">
                <h6>{{ artifact.name }}</h6>   
            </div>
        </div>
    </a>
    <hr>    
    {% endfor %}
    
    <!--Pagination of artifacts owned if more than 10-->
    <nav class="pb-5">
        {% if artifacts_owned.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if artifacts_owned.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ artifacts_owned.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#"><span>&laquo;</span></a>
            </li>
        {% endif %}
        {% for i in artifacts_owned.paginator.page_range %}
            {% if artifacts_owned.number == i %}
            <li class="page-item active">
                <a class="page-link" href="#"><span>{{ i }}</span></a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if artifacts_owned.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ artifacts_owned.next_page_number }}">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#"><span>&raquo;</span></a>
            </li>
        {% endif %}
        </ul>
        {% endif %}
    </nav>      
</section>
{% else %}
<!--If the user has not won any artifacts and does not own any artifacts display below-->
<section class="container my-3">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h6>You do not have any artifacts in your collection.</h6>
            <p>Why not purchase one in one of our auctions?</p>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}