{% extends 'base.html' %}


{% block content %}


<section class="container">
    {% if artifacts_won|length > 0 %}
    <div class="row" style="margin-top:20px">
        <div class="col-8 offset-2 text-left">
            <h5>Artifacts won</h5>
        </div>
    </div>
    {% endif %}
        
    {% for id, item in artifacts_won.items %}
    <a href="{% url 'display_artifact' id=item.artifact.id %}">  
        <div class="row justify-content-around d-flex flex-wrap align-items-center artifact-information mt-3 mx-1">
            {% if item.artifact.image %}
            <div class="col-4 col-sm-2 col-lg-1 d-inline-block artifact-image text-center">
                <img class="img-fluid" src="{{ MEDIA_URL }}{{ item.artifact.image }}" alt="image of {{item.artifact.name}}">
            </div>
            {% else %}
            <div class="col-4 col-sm-2 col-lg-1 d-inline-block artifact-image text-center">
                <img class="img-fluid" src="/media/images/placeholder.png" alt="placeholder image">
            </div>    
            {% endif %}    
            <div class="col-8">
                <h6>{{ item.artifact.name }}</h6>   
                <span class="auction-current-bid">Winning bid: £{{ item.bid }}</span>
            </div>
        </div>    
    </a>    
    <hr>    
    {% endfor %}
    <div class="row" >
        <div class="col-12 text-right">
            <h6>Total: {{ total }}</h6>
        </div>
    </div>    
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-primary"><a href="{% url 'buy_all' %}">Pay Now</a></button>
        </div>
    </div>
</section>

{% if artifacts_owned|length > 0 and artifacts_won|length > 0 %}
<section>
        <div class="row justify-content-center mt-3">
            <div class="col-1 text-center my-auto">
                <h6>&#10016</h5>
            </div>
            <div class="col-1 text-center my-auto">
                <h4>&#10016</h4>
            </div>
            <div class="col-1 text-center my-auto">
                <h6>&#10016</h5>
            </div>
        </div>   
</section>
{% endif %}

<section class="container">

        {% if artifacts_owned|length > 0 %}
        <div class="row" style="margin-top:20px">
            <div class="col-8 offset-2 text-left">
                <h5>Artifacts owned</h5>
            </div>
        </div>
        {% endif %}

    {% for artifact in artifacts_owned %}
    <a href="{% url 'display_artifact' id=artifact.id %}">  
        <div class="row justify-content-around d-flex flex-wrap align-items-center artifact-information mt-3 mx-1">
            {% if artifact.image %}
            <div class="col-4 col-sm-2 col-lg-1 d-inline-block artifact-image text-center">
                <img class="img-fluid" src="{{ MEDIA_URL }}{{ artifact.image }}" alt="image of {{artifact.name}}">
            </div>
            {% else %}
            <div class="col-4 col-sm-2 col-lg-1 d-inline-block artifact-image text-center">
                <img class="img-fluid" src="/media/images/placeholder.png" alt="placeholder image">
            </div>
            {% endif %}    
            <div class="col-8">
                <h6>{{ artifact.name }}</h6>   
            </div>
        </div>
    </a>
    <hr>    

    {% endfor %}
</section>
{% endblock %}