{% extends 'base.html' %}


{% block content %}


<section class="container">
        {% if artifacts_won|length > 0 %}
        <div class="row" style="margin-top:20px">
            <div class="col-8 offset-2 text-center">
                <h5>Artifacts won</h5>
            </div>
        </div>
        {% endif %}
        
        {% for id, item in artifacts_won.items %}
            <div class="row h-100 artifact-list" style="margin: 15px -5px 0 -5px; padding:5px 0 5px 0">
                {% if item.artifact.image %}
                <div class="col-4 artifact-image text-center my-auto img-fluid" style="background-image: url('{{ MEDIA_URL }}{{ item.artifact.image }}');">
                {% else %}
                <div class="col-4 artifact-image text-center my-auto img-fluid" style="background-image: url('/media/images/placeholder.png');">
                {% endif %}   
                <a style="display:block; height:100px; width:100px;" href="{% url 'display_artifact' id=item.artifact.id %}"></a>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">
                            <h4><a href="{% url 'display_artifact' id=item.artifact.id %}"><span>{{ item.artifact.name }}</span></a></h4>
                            <span class="auction-current-bid">Winning bid: £{{ item.bid }}</span>
                        </div>
                    </div>
                </div>
            </div>    
            <hr>
        {% endfor %}
        <div class="row" >
            <div class="col-12 text-right">
                <span>Total: {{ total }}</span>
                <button class="btn"><a href="{% url 'buy_all' %}">Pay Now</a></button>
            </div>
        </div>           
        <div class="row" style="margin-top:20px">
            <div class="col-12 text-center">
                <h5>&#10016</h5>
            </div>
        </div>
</section>

<section class="container">
        {% if artifacts_owned|length > 0 %}
        <div class="row" style="margin-top:20px">
            <div class="col-8 offset-2 text-center">
                <h5>Artifacts owned</h5>
            </div>
        </div>
        {% endif %}

    {% for artifact in artifacts_owned %}
            <div class="row h-100 artifact-list" style="margin: 15px -5px 0 -5px; padding:5px 0 5px 0">
                {% if artifact.image %}
                <div class="col-4 artifact-image text-center my-auto img-fluid" style="background-image: url('{{ MEDIA_URL }}{{ artifact.image }}');">
                {% else %}
                <div class="col-4 artifact-image text-center my-auto img-fluid" style="background-image: url('/media/images/placeholder.png');">
                {% endif %}   
                <a style="display:block; height:100px; width:100px;" href="{% url 'display_artifact' id=artifact.id %}"></a>
                </div>
                <div class="col-8 my-auto">
                    <h4><a href="{% url 'display_artifact' id=artifact.id %}"><span>{{ artifact.name }}</span></a></h4>
                </div>
                </div> 
            </div>  
            <hr>
    {% endfor %}
</section>
{% endblock %}