{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% block head_js %}
<!--Script to handle changing and clearing profile picture and anonymous status-->
<script defer src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block content %}
<!--Edit profile form-->
<section>
    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="col-10 offset-1 form-container">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container py-3">
                        <div class="row">
                            <div class="col-12">
                                <h5>Edit profile</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label for="id_first_name">First Name</label>
                                <div class="styled-box pl-2">
                                    {% render_field edit_user_form.first_name %}    
                                </div>     
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="id_last_name">Last Name</label>
                                <div class="styled-box pl-2">
                                    {% render_field edit_user_form.last_name %}
                                </div>
                            </div>    
                        </div>   
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label for="id_user_name">Username</label>
                                <div class="styled-box pl-2">
                                    {% render_field edit_user_form.username %}
                                </div>
                                <div>
                                    <!--Display errors if username is taken-->
                                    {% render_field edit_user_form.errors.username %}     
                                </div>  
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="id_email">Email Address</label>
                                <div class="styled-box pl-2">
                                {% render_field edit_user_form.email style="width:100%" %}
                                </div>
                                <div>
                                    <!--Display errors if email is already registered-->
                                   {% render_field edit_user_form.errors.email %}     
                                </div>                           
                            </div>   
                            <div class="col-12">
                                <label for="id_description">Bio</label>
                                <div class="styled-box pl-2">
                                {% render_field edit_profile_form.description style="resize: none; width:100%; outline:none; border:none" %}
                                </div>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-12 text-center">
                                <a class="btn btn-dark" href="{% url 'password_reset' %}">Change Password</a>
                            </div>                         
                        </div>
                        <hr>
                        <!--Below is shown by profile.js if user has not selected 'remove picture'-->
                        <div id="profile--current-image">
                            <div class="row justify-content-center" id="profile-picture">
                                <div class="col-6 col-sm-4 col-lg-3 text-center">
                                    <!--If the user has a profile picture display it otherwise use a placeholder-->
                                    {% if user.profile.profile_picture %}
                                    <img id="profile-picture" class="img-thumbnail mx-auto d-block artifact-image" src="{{MEDIA_URL}}{{user.profile.profile_picture}}" class="img-fluid my-auto" alt="User's Profile Picture">
                                    {% else %}
                                    <img class="img-thumbnail mx-auto d-block artifact-image" src="/media/images/default_profile_picture.png" alt="User's Profile Picture">
                                    {% endif %}  
                                </div>
                            </div>
                            {% if user.profile.profile_picture %}
                            <!--Give option to remove profile picture if the user has one-->
                            <div class="row">
                                <div class="col-2">
                                    <input type="checkbox" name="profile_picture-clear" id="id_profile_picture-clear">
                                </div>                         
                                <div class="col-10 col-sm-6 pl-0 text-left">
                                    <p>Remove picture</p>   
                                    <!--Text below is updated by profile.js depending on whether the user updating or 
                                    removing their profile picture-->
                                    <p id="profile--remove-profile-picture-info"></p>
                                </div>
                            </div>
                            {% endif %}
                        </div>   
                        <!--Below is shown by profile.js if the user does not choose to remove profile picture-->
                        <div id="profile--choose-new-image">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p>Upload a new profile picture</p>
                                </div>
                            </div> 
                            <div class="row">         
                                <div class="col-12 text-center">
                                    <div class="btn btn-dark">
                                        <label for="id_profile_picture" style="margin-bottom:0">Choose file</label>
                                        <input type="file" name="profile_picture" style="display:none" id="id_profile_picture">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p id="profile-picture-selected"></p>
                                    <div class="row">
                                        <div class="col-2">
                                            <input type="checkbox" style="display:none" name="profile--clear-image-selection" id="id_profile--clear-image-selection">
                                        </div>
                                        <div class="col-8 pl-0 text-left" id="id_profile--clear-image-selection-label" style="display:none">
                                            <p>Remove file</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                        <hr>
                         <div class="row">
                            <div class="col-2">
                                {% render_field edit_profile_form.remain_anonymous %}
                            </div>                         
                            <div class="col-10 pl-0 text-left">
                                <span>Remain anonymous</span>    
                            </div>
                        </div>    
                        <div class="row">
                            <!--Display appropriate text depending on whether user is remaining anonymous-->
                            <!--On changing this option profile.js handles updating text-->
                            <div class="col-10 offset-2 pl-0">
                                {% if user.profile.remain_anonymous is True %}
                                <p id="remain-anonymous-text">Your username will not be displayed on bids or artifact ownership.</p>
                                {% else %}
                                <p id="remain-anonymous-text">Select this option to ensure that your username is not displayed on bids or artifact ownership.</p>
                                {% endif %} 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button class="btn btn-primary" type="submit">Update</button>        
                            </div>
                        </div>                
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
