{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-10 offset-1 accounts--form-container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container accounts--form">
                    <div class="row">
                        <div class="col-12">
                            <h6>Edit profile</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>First Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field edit_user_form.first_name %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Last Name</p>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field edit_user_form.last_name %}
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-12">
                            <p>Username</p>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field edit_user_form.username %}
                        </div>
                        <div class="col-12"  >
                           {% render_field edit_user_form.errors.username %}     
                        </div>                        
                    </div>     
                    <div class="row">
                        <div class="col-12">
                            <p>Email Address</p>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field edit_user_form.email %}
                        </div>
                        <div class="col-12">
                           {% render_field edit_user_form.errors.email %}     
                        </div>                           
                    </div>   
                    <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn"><a href="{% url 'password_reset' %}">Change Password</a></button>
                    </div>                         
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 offset-3 text-center">
                            {% if user.profile.profile_picture %}
                            <img class="img-fluid my-auto" src="{{MEDIA_URL}}{{user.profile.profile_picture}}" class="img-fluid my-auto" alt="User's Profile Picture">
                            {% else %}
                            <img src="/media/images/default_profile_picture.png" class="img-fluid my-auto" alt="User's Profile Picture">
                            {% endif %}  
                        </div>
                    </div>
                    {% if user.profile.profile_picture %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <input type="checkbox" name="profile_picture-clear" id="profile_picture-clear_id">
                            <label form="profile_picture-clear_id">Remove</label>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>or upload a new profile picture</p>
                        </div>
                    </div>                    
                    <div class="row">         
                        <div class="col-12 text-center">
                            <div class="btn">
                                <label for="id_profile_picture" style="margin-bottom:0">Choose file</span>
                                <input type="file" name="profile_picture" style="display:none" id="id_profile_picture">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                             <p id="profile-picture-selected"></p>
                        </div>
                    </div>
                    <hr>
                     <div class="row">
                        <div class="col-12">
                            {% render_field edit_profile_form.remain_anonymous %}
                            <span>Remain anonymous</span>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-12">
                            <p>Your username will not be displayed on bids or artifact ownership.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn" type="submit">Update</button>        
                        </div>
                    </div>                
                </div>
                {% if messages %}
                <div class="alert alert-success">
                    <div class="messages">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>


<script>
    $('#id_profile_picture').change(function(e){
        var fileName = e.target.files[0].name;
        $("#profile-picture-selected").text("File selected: "+fileName);
    });

/*    
need to label element: id="profile-picture-name"
    $(document).ready(function(){
        var filePath = $("#profile-picture-name").text();
        var fileNameIndex = filePath.lastIndexOf("/") + 1;
        var fileName = filePath.substr(fileNameIndex);
       console.log(fileName)
        $("#profile-picture-selected").text(fileName);
    });
    */
</script>
{% endblock %}
