{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}

<div class="container">
    <div class="row ">
        <div class="col-10 offset-1 account-form-container">
            <form method="POST">
                {% csrf_token %}
                <div class="container account-form">
                    <div class="row">
                        <div class="col-12">
                            <h6>Log in to your account</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Username</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 styled-box option-list ">
                            <div class="row h-100">
                                <div class="col-12 option-inner">
                                    {% render_field login_form.username style="border: none; outline: none" %}
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-4">
                            <p>Password</p>
                        </div>
                        <div class="col-8 text-right">
                            <p><a href="{% url 'password_reset' %}">Forgot Password</a></p>
                        </div>
                    </div>                
                    <div class="row ">
                        <div class="col-12 styled-box option-list ">
                            <div class="row h-100">
                                <div class="col-12 option-inner">
                                    {% render_field login_form.password style="border: none; outline: none" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn" type="submit">Sign-In</button>        
                        </div>
                    </div>                
                </div>
                {% if messages %}
                <div class="alert alert-success">
                    <div class="messages">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>




{% endblock %}
