{% extends 'base.html' %} {% load widget_tweaks %} {% load bootstrap_tags %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-10 offset-1 accounts--form-container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container accounts--form">
                    <div class="row">
                        <div class="col-12">
                            <h6>Register a new account</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>First Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field registration_form.first_name %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Last Name</p>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field registration_form.last_name %}
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-12">
                            <p>Username</p>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field registration_form.username %}
                        </div>
                        <div class="col-12"  >
                           {% render_field registration_form.errors.username %}     
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-12">
                            <p>Email Address</p>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field registration_form.email %}
                        </div>
                        <div class="col-12"  >
                           {% render_field registration_form.errors.email %}     
                        </div>                        
                    </div>                      
                    <div class="row">
                        <div class="col-12">
                            <p>Enter password</p>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field registration_form.password1 %}
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-12">
                            <p>Re-enter password</p>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12 styled-box">
                            {% render_field registration_form.password2 %}
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-12">
                            <p>Upload a profile picture</p>
                        </div>
                    </div>                    
                    <div class="row h-100">
                        <div class="col-12 text-center">
                            <span class="btn btn-default btn-file">
                                Choose File
                                {% render_field profile_form.profile_picture %}
                            </span>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-12">
                            {% render_field profile_form.remain_anonymous %}
                            <span>Remain anonymous</span>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-12">
                            <p>Your username will not be displayed on bids or artifact ownership.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn" type="submit">Submit</button>        
                        </div>
                    </div>                
                </div>
                {% if messages %}
                <div class="alert alert-success">
                    <div class="messages">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}