{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jones & Son - Artifact Auctions</title>

    <!-- framework -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">

    <!-- effects -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" />

    <!-- custom styles -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script defer src="{% static 'js/buttons.js' %}"></script>

    {% block head_js %} 
    {% endblock %}
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Jones & Son<span><br>&#10016 Artifact Auctioneers</span></a>
        <button class="ml-auto mr-1 d-block d-lg-none">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><span ><i class="fa fa-user" aria-hidden="true"></i></span></a>    
            {% else %}
            <a href="{% url 'login' %}"><span><i class="far fa-user" aria-hidden="true"></i></span></a>
            {% endif %}
        </button>
        <button class="d-block d-lg-none">
            <a href="{% url 'artifacts_list' %}"><span><i class="fa fa-search" aria-hidden="true"></i></span></a>    
        </button>
        <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#modalMenu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="d-none d-lg-block ml-auto mr-1">
            <ul class="navbar-nav">
                <li class="nav-item mx-3 my-auto text-center text-wrap">
                    <a href="{% url 'index' %}"><span>Home</span></a>
                </li>    
                {% if user.is_superuser %}
                <li class="nav-item mx-3 my-auto text-center text-wrap">
                    <a href="{% url 'admin:index' %}"><span>Admin panel</span></a>
                </li>
                {% endif %}                 
                <li class="nav-item mx-3 text-center text-wrap">
                    <a href="{% url 'artifacts_list' %}"><span>View Artifacts</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mx-3 my-auto text-center text-wrap">
                    <a href="{% url 'view_collection' %}"><span>View Collection</span></a>
                </li>
                {% if purchase|length > 0 %}
                <li class="nav-item mx-3 my-auto text-center text-wrap">
                    <a href="{% url 'checkout' %}"><span>Checkout</span></a>
                </li>           
                {% endif %}
                <li class="nav-item mx-3 my-auto text-center text-wrap">
                    <a href="{% url 'view_profile' %}"><span>Profile</span></a>
                </li>
                <li class="nav-item mx-3 my-auto text-center text-wrap">
                    <a href="{% url 'logout' %}"><span>Logout</span></a>
                </li>
                {% else %}
                <li class="nav-item mx-3 my-auto text-center text-wrap">
                    <a href="{% url 'register' %}"><span>Register</span></a>
                </li>
                <li class="nav-item mx-3 my-auto text-center text-wrap">
                    <a href="{% url 'login' %}"><span>Log In</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}


    <!-- Footer -->
    <footer class="footer d-block d-lg-none fixed-bottom py-1 py-sm-2 py-lg-3">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-sm-6">
                    <ul class="list-unstyled list-group list-group-horizontal">
                        <li>
                            <a href="{% url 'index' %}"><span>Home</span></a>
                        </li>
                        <li>
                            <a href="#!">Contact</a>
                        </li>
                        <li>
                            <a href="#!">About</a>
                        </li>
                        <li>
                            <a href="#!">Account</a>
                        </li>
                        <li>
                            <a href="#!">Terms</a>
                        </li>                        
                    </ul>
                </div>
                <div class="col-sm-6 my-auto d-none d-lg-block text-right">
                    <span>info@artifact-auctions.com 01635 600000</span>
                </div>
            </div>
        </div>
    </footer>

<!-- modals -->
<div class="modal fade" id="modalMenu" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'index' %}"><span>Home</span></a>
                        </li>                    
                    <li class="nav-item">
                        <a href="{% url 'artifacts_list' %}"><span>View Artifacts</span></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'view_profile' %}"><span>View {{ user }}'s Profile</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}"><span>Logout {{ user }}</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'view_collection' %}"><span>View Collection</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'checkout' %}"><span>Checkout</span></a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'admin:index' %}"><span>Admin panel</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#adminHelpModal" data-toggle="modal" data-target="#adminHelpModal"><span>Admin Help</span></a>
                    </li>                    
                    {% endif %} 
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'register' %}"><span>Register</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}"><span>Log In</span></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="adminHelpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <p>You can add new artifacts to the site through the admin panel. Under the artifact object you can set a reserve price and/or 'buy now' price. Setting a reserve price means that the artifact will not sell if the bids do not exceed the stated price. Setting a buy now price enables purchasers to buy the artifact at the price stated. Please note as bids are received the buy now price will be updated to exceed the current bid by 20%. NB if you do not enter a reserve or buy now price purchasers will be able buy the artifact for 20% more than the initial bid.</p>
            </div>
        </div>
    </div>
</div>
{% block modal %} {% endblock %}

</body>




</html>
