{% extends 'base.html' %}
{% load humanize %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% block head_js %}
<script defer src="{% static 'js/script.js' %}"></script>
{% if search_form.errors %}
<!--if the user enters invalid information in the search form the page is 
loaded again. This script ensures the search modal is reloaded with errors
displayed-->
    <script>
    $(function() {
      $('#filterModal').modal({show: true});
    });
    </script>
{% endif %}
{% endblock %}

{% block content %}
<!--Search bar-->
<section class="container-fluid">
    <form method="POST">
        <div class="row search-bar-container justify-content-center my-4">
            <div class="col-9 col-sm-7 col-md-5 search-bar">
                {% csrf_token %} 
                {% render_field search_form.name class="my-auto" %}
                {{ search_form.sort_by.as_hidden }}
                {{ search_form.sold.as_hidden }}
                {{ search_form.in_auction.as_hidden }}
                {{ search_form.category.as_hidden }}
                {{ search_form.type.as_hidden }}
                {{ search_form.min_buy_now_price.as_hidden }}
                {{ search_form.max_buy_now_price.as_hidden }}
            </div>
            <div class="col-1 search-icon text-center align-middle" >
                <button type="submit"><span class=" "><i class="fas fa-search"></i></span></button>  
            </div>
        </div>
    </form>   

    <!--Filter modal and sort drop-down buttons-->
    <div class="row search-options">
        <div class="col-4 text-center">
            <button data-toggle="modal" data-target="#filterModal">Filter</button>
        </div>    
        <div class="col-4 text-center">
            {% if results == 1%}
            {{ results }} result
            {% else %}
            {{ results }} results
            {% endif %}
        </div>
        <div class="col-4 text-center">
             <button data-toggle="modal" data-target="#sortModal">Sort</button>
        </div>
    </div>
</section>

<!--List of artifacts returned in filter search-->
<section>
<div class="container-fluid artifact-list">
    <!--iterate through the list of artifacts and render row for each artifact-->
    {% for artifact in artifacts_list %}
    <div class="row justify-content-around d-flex flex-wrap align-items-center artifact-information mt-3 mx-1">
        <div class="auction-artifactid" data-artifactid="{{ artifact.id }}"></div>

        <!--Check if the artifact has an image associated with it. If not 
        display a placeholder image-->
        {% if artifact.image %}
        <div class="col-4 col-sm-2 col-lg-1 d-inline-block artifact-image text-center">
            <a href="{% url 'display_artifact' id=artifact.id %}"> 
                <img class="img-fluid" src="{{ MEDIA_URL }}{{ artifact.image }}" alt="image of {{artifact.name}}">
            </a>
            {% if artifact.sold is True %} 
            <a href="{% url 'display_artifact' id=artifact.id %}"> 
                <img class="artifact-sold-image img-fluid" src="/media/images/sold.png" alt="sold stamp"></img>
            </a>
            {% endif %}                    
        {% else %}
        <div class="col-4 col-sm-2 col-lg-1 d-inline-block artifact-image text-center">
            <a href="{% url 'display_artifact' id=artifact.id %}"> 
            <img class="img-fluid" src="/media/images/placeholder.png" alt="placeholder image">
            </a>
            {% if artifact.sold is True %} 
            <a href="{% url 'display_artifact' id=artifact.id %}"> 
            <img class="artifact-sold-image img-fluid" src="/media/images/sold.png" alt="sold stamp"></img>
            </a>
            {% endif %}           
        {% endif %} 
        </div>
        <!--Display artifact name as a link-->
        <div class="col-8">
            <a href="{% url 'display_artifact' id=artifact.id %}">  
                <h6>{{ artifact.name }}</h6>
            </a>
            <!--If the artifact has been sold display username of owner and link
            unless they have chosen to remain anonymous-->
            {% if artifact.sold is True %}
                {% if artifact.owner == None %}
                <p>Sold</p>
                
                {% elif artifact.owner == user %}
                <p>You own this artifact</p>
                
                {% elif artifact.owner.profile.remain_anonymous %}
                <p>This artifact has been purchased. The owner wishes to remain anonymous</p>
                
                {% else %}
                <p>Owned by 
                    <a href="{% url 'view_profile' id=artifact.owner.id %}">{{ artifact.owner }}</a>
                </p>
                {% endif %}
            {% else %}
            <!--If the artifact has not sold display here the status of the 
            auction (not listed, finished or current highest bid) populated
            by jquery script.js-->
            <span class="auction-status"></span>
            <!--If pending or live auction display a countdown timer-->
            <span class="auction-timer-container" style="display: none">
                <span class="auction-timer"></span>
            </span>
            <!--Display highest bid and, if a buy now price has been specified
            a 'buy now' button. If there is a reserve on the artifact state
            this-->
            <div class="auction-bid-status" style="display: none">
                <span class="auction-current-bid">Current bid: £{{ auction_bids|get_item:artifact }}<br></span>
                {% if artifact.buy_now_price > 0 %}
                <span>Buy now for: £{{ artifact.buy_now_price|floatformat:2|intcomma }}<br></span>    
                {% endif %}
                {% if artifact.reserve_price > auction_bids|get_item:artifact %}
                <span>There is a reserve on this artifact.<br></span>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
<hr>
{% endfor %}
</div>
<!--Pagination navigation bar-->
<nav class="pb-5">
    {% if artifacts_list.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if artifacts_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ artifacts_list.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#"><span>&laquo;</span></a>
        </li>
    {% endif %}
    {% for i in artifacts_list.paginator.page_range %}
        {% if artifacts_list.number == i %}
        <li class="page-item active">
            <a class="page-link" href="#"><span>{{ i }}</span></a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
    {% endfor %}
    {% if artifacts_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ artifacts_list.next_page_number }}">&raquo;</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#"><span>&raquo;</span></a>
        </li>
    {% endif %}
  </ul>
{% endif %}
</nav>
</section>
{% endblock %}

{% block modal %} 
<!--Filter search Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <form method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {{ search_form.sort_by.as_hidden }}
                <div class="container filtermodal-visible">
                    <div class="row">
                        <div class="col-12">
                            <span>Name contains:</span>
                            {% render_field search_form.name %}
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12">
                            <span>Description contains:</span>
                            {% render_field search_form.description  %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <span>Show only artifacts that are:</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 offset-1">
                            <span>Sold</span>
                        </div>
                        <div class="col-2">
                            <!--'opposite-switch' class for jquery buttons.js to
                            toggle unsold status on selecting this option-->
                            {% render_field search_form.sold class="opposite-switch" value="id_unsold"%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 offset-1">
                            <span>Not sold</span>
                        </div>
                        <div class="col-2">
                            <!--'opposite-switch' class for jquery buttons.js to
                            toggle sold status on selecting this option-->                            
                            {% render_field search_form.unsold class="opposite-switch" value="id_sold"%}
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-8 offset-1">
                            <span>Listed for auction</span>
                        </div>
                        <div class="col-2">
                            <!--'opposite-switch' class for jquery buttons.js to
                            toggle not_in_auction status on selecting this option-->                            
                            {% render_field search_form.in_auction class="opposite-switch" value="id_not_in_auction" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 offset-1">
                            <span>Not listed for auction</span>
                        </div>
                        <div class="col-2">
                            <!--'opposite-switch' class for jquery buttons.js to
                            toggle in_auction status on selecting this option-->                            
                            {% render_field search_form.not_in_auction class="opposite-switch" value="id_in_auction" %}
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-8">
                            <span>Categories</span>
                        </div>
                        <div class="col-2">
                            <span class="collapse-button" data-toggle="collapse" data-target="#categoriesCollapse"><i class="fas fa-caret-down"></i></span>
                        </div>                        
                    </div>
                    <div class="collapse" id="categoriesCollapse">
                        <div class="row">
                            <div class="col-12">
                                {% render_field search_form.category %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <span>Type</span>
                        </div>
                        <div class="col-2">
                            <span class="collapse-button" data-toggle="collapse" data-target="#typesCollapse"><i class="fas fa-caret-down"></i></span>
                        </div>                        
                    </div>
                    <div class="collapse" id="typesCollapse">
                        <div class="row">
                            <div class="col-12">
                                {% render_field search_form.type %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span>Buy now price</span>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-6">
                            <label for="min_buy_now_price" style="font-size: 0.75rem">Minimum</label>
                            {% render_field search_form.min_buy_now_price style="width:100%" min="0" %}
                        </div>
                        <div class="col-6">
                            <label for="max_buy_now_price" style="font-size: 0.75rem">Maximum</label>
                            {% render_field search_form.max_buy_now_price style="width:100%" min="0" %}
                        </div>
                    </div> 
                    <div class="row pt2">
                        <div class="col-12">
                            {{ search_form.non_field_errors }}
                        </div>
                    </div>
                 </div>  
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6 text-center">
                        <input id="resetSearch" type="reset" value="Reset" class="btn btn-dark">       
                    </div>                        
                    <div class="col-6 text-center">
                        <button class="btn btn-primary" type="submit">Filter</button>        
                    </div>
                </div>                       
            </div>
        </div>
        </form>        
    </div>
</div>

<!--Sort search Modal -->
<div class="modal fade" id="sortModal"  tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full"  role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title">Sort results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p4">
                <form method="POST">
                    {% csrf_token %}
                    <!--Hidden fields for search form rendered to ensure 
                    existing search criteria are passed when submitting form
                    otherwise an unfiltered list will be sorted-->
                    {{ search_form.name.as_hidden }}
                    {{ search_form.description.as_hidden }}                    
                    {{ search_form.sold.as_hidden }}
                    {{ search_form.unsold.as_hidden }}
                    {{ search_form.in_auction.as_hidden }}
                    {{ search_form.not_in_auction.as_hidden }}
                    {{ search_form.category.as_hidden }}
                    {{ search_form.type.as_hidden }}
                    {{ search_form.min_buy_now_price.as_hidden }}
                    {{ search_form.max_buy_now_price.as_hidden }}
                    <span>Sort by</span>
                    {% render_field search_form.sort_by %}
                    <button class="btn btn-primary" type="submit">Sort</button>        
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}