{% extends 'base.html' %}
{% block content %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script defer src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% for artifact in artifacts_list %}
<div class="artifact-information container-fluid">
    <div class="auction-artifactid" data-artifactid="{{ artifact.id }}"></div>
    <div class="row">
        <div class="col-3">
            <h1><a href="{% url 'display_artifact' id=artifact.id %}">{{ artifact.name }}</a></h1>
        </div> 

        <div class="col-6 artifact" style="background-image: url('{{ MEDIA_URL}}{{ artifact.image }}'); ">
            {% if artifact.sold is True %}
            <div class="text-center">
            <img class="artifact img-fluid" src="{{ MEDIA_URL }}images/sold.png"></img>
                </div>
            {% endif %}
        </div>
    </div>
    
    {% if artifact.sold is True %}
    <div class="row">
        <div class="col-12">
        {% if artifact.owner == None %}
            <h3>Sold</h3>
        {% elif artifact.owner == user %}
            <h3>You own this artifact</h3>
        {% elif artifact.owner.profile.remain_anonymous %}
            <h3>This artifact has been purchased. The owner wishes to remain anonymous</h3>
        {% else %}
            <h3>Owned by {{ artifact.owner }}</h3>
        {% endif %}
        </div> 
    </div>    
    {% else %}
    <div class="row">
        <div class="col-12">
            <h4 class="auction-status"></h4>     
        </div>
    </div>      
    {% endif %}
    {% if artifact.in_auction is True %}                        
        {% for auction in auctions %}
            {% if auction.artifact == artifact %}
                <div class="row auction-timer-container" style="display:none">
                   <div class="col-6">
                        <h5 class="auction-timer"></h5>
                    </div>
                    <div class="col-3">
                        <h4>Reserve: £{{ artifact.buy_now_price }}</h4>                        
                    </div>
                    <div class="col-3 auction-bid-status">
                        <h4 class="auction-current-bid">Current bid: £{{ auction_bids|get_item:auction.id }}</h4>
                    </div>                    
                </div>  
            {% endif %}
        {%endfor%}
    {% endif %}


</div>

{% endfor %}

<div>
<form method="POST">
    {% csrf_token %}
    {{ search_form | as_bootstrap }}
    <button type="submit">Search</button>
</form>
</div>
{% endblock %}