{% extends 'base.html' %} 
{% load static from staticfiles %} 
{% load artifact_auction_tags %}
{% load bootstrap_tags %} 

{% block head_js %}
<script defer src="{% static 'js/script.js' %}"></script>
{% endblock %} 

{% block content %}

<section class="container artifact-single artifact-information">
    <div class="auction-artifactid" data-artifactid="{{ artifact.id }}">  </div>
    <div class="row py-3">
        <div class="col-12 text-center">
            <h5>{{ artifact.name }}</h5>
        </div>
    </div> 

   <div class="row h-100 d-none d-lg-flex">
        <div class="col-lg-12 pull-right">
            <div class="col-5 pl-0">
            {% if artifact.image %}
            <img class="img-thumbnail img-responsive float-left mr-3" src="{{ MEDIA_URL }}{{ artifact.image }}" alt="Picture of {{ artifact.name }}">
            {% else %}
            <img class="img-thumbnail img-responsive float-left mr-3" src="/media/images/placeholder.png" alt="placeholder image">
            {% endif %}
            </div>
            {% if artifact.description %}
            <h5>About</h5>    
            <p class="text-justify">{{ artifact.description }}</p>
            {% endif %}
        </div>
    </div>    
    
    <div class="row d-block d-lg-none">
        <div class="col-12 col-lg-6">
            <div class="row justify-content-center">
                <div class="col-8 col-sm-6 col-lg-8">
                    {% if artifact.image %}
                    <img class="img-thumbnail mx-auto d-block" src="{{ MEDIA_URL }}{{ artifact.image }}" alt="image of {{ artifact.name }}">
                    {% else %}
                    <img class="img-thumbnail mx-auto d-block" src="/media/images/placeholder.png" alt="placeholder image">
                    {% endif %}            
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-12 col-lg-6 my-auto">
            {% if artifact.sold is False %}
            <div class="row mt-3" >
                <div class="col-12 text-left">
                    <h6>Auction Status</h6>
                    <span class="auction-status"></span>   
                    <span class="auction-timer auction-timer-container" style="display:none"></span>            
                </div>
            </div>
            {% endif %}
    
            <div class="auction-bid-status" style="display:none">
                <div class="row">
                    <div class="col-12">
                        {% if current_bidder is not None %}
                            {% if current_bidder == user %}
                            <span>You are the highest bidder</span>
                            {% elif current_bidder.profile.remain_anonymous %}
                            <span>The current bidder wishes to remain anonymous</span>
                            {% else %}
                            <span>Highest bidder - {{ current_bidder }}</span>
                            {% endif %}
                        {% endif %}
                    </div>    
                </div>   
                <div class="row">
                    <div class="col-12 col-lg-6 text-left">
                        <span>Current bid: £{{ current_bid }}</span>
                    </div>
                    {% if artifact.buy_now_price > 0 and current_bidder != user %}
                    <div class="col-12 col-lg-6 text-left">
                        <span>Buy now for: £{{ artifact.buy_now_price }}</span>
                    </div>           
                    {% endif %}      
                </div>    
            </div>            
            <div class="auction-buttons" style="display:none">    
                {% if user.is_authenticated %}
                <form method="POST" class="button-bid" >
                    <div class="row pb-2">
                        {% if current_bidder != user %}
                        <div class="col-6 col-sm-4 col-lg-6 text-left">
                            <button class="btn btn-primary" type="submit">Place Bid</button>
                        </div>
                        {% endif %}
                        {% if artifact.buy_now_price > 0  and current_bidder != user %}
                        <div class="col-6 col-sm-4 col-lg-6  text-right text-sm-left">
                            <button class="btn btn-dark" type="button"><a href="{% url 'buy_one' artifact.id 1 %}">Buy Now</a></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-4 offset-lg-0">
                        {% if current_bidder != user %}
                            {% csrf_token %}
                            {{ bid_form | as_bootstrap }}
                        {% endif %}
                        </div>
                    </div>
                </form>                 
                {% endif %}  
    
                {% if current_bidder is not None %}
                <div class="row">
                    <div class="col-12">
                        <button class="bid-history-btn" data-toggle="modal" data-target="#bidsModal">Bid history</button>
                    </div>
                </div>
                {% endif %}
            </div>
            
            <div class="row auction-sold-status mt-3" style="display:none">
                <div class="col-12">
                {% if artifact.sold is False %}
                    {% if current_bid >= artifact.reserve_price %}
                        {%if current_bidder is not None %}
                            {% if current_bidder == user %}
                                <p>Congratulations you won this artifact for £{{ current_bid }}.</p>
                                <button class="btn btn-primary"><a href="{% url 'buy_one' artifact.id 0 %}">Pay Now</a></button>
                            {% elif current_bidder.profile.remain_anonymous %}
                                <span>This artifact has been won. The winner wishes to remain anonymous</span>
                            {% else %}
                                <span>Won by {{ current_bidder }}</span>
                            {% endif %}
                        {% endif %}
                    {% elif auction %}
                    <h6>Auction Status</h6>
                    <span>This item did not meet the reserve price - not sold.</span>
                    {% endif %}
                {% else %} 
                    {% if artifact.owner == None %}
                    <h6>Sold</h6>
                    {% elif artifact.owner == user %}
                    <h6>You own this artifact.</h6>
                    {% elif artifact.owner.profile.remain_anonymous %}
                    <h6>This artifact has been purchased. The owner wishes to remain anonymous</h6>
                    {% else %}
                    <h6>Owned by                     
                        {% if user.is_authenticated %}
                        <a href="{% url 'view_profile' id=artifact.owner.id %}">{{ artifact.owner }}</a>
                        {% else %}
                        {{ artifact.owner }}
                        {% endif %}                    
                    </h6>
                    {% endif %}
                {% endif %}
                </div>
            </div> 
            {% if user == artifact.owner and not review%}
            <div class="row">
                <div class="col-12 text-left">
                    <a class="btn btn-primary" href="{% url 'add_review' artifact.id %}">Add Review</a>
                </div>
            </div>
            {% endif %}
        </div>  
    </div>   
</section>

{% if messages %}
<section class="container">
    <div class="row pt-3">
        <div class="col-12">
            <ul class="list-unstyled">
                {% for message in messages %}
                <li class="alert {{ message.tags }}" >{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>  
</section>  
{% endif %}  

<section class="container artifact-single pt-3 mb-5">
    {% if artifact.description %}
    <div class="row d-flex d-lg-none my-3">
        <div class="col-10">
            <h6>About</h6>
        </div>
        <div class="col-2">
            <span class="collapse-button" data-toggle="collapse" data-target="#about-collapse"><i class="fas fa-caret-down"></i></span>
        </div>
    </div>
    <div class="row collapse" id="about-collapse">
        <div class="col-12">
            <span>{{ artifact.description }}</span>
        </div>
    </div>
    <hr>
    {% endif %}
    {% if review %}
    <div class="row my-3">
        <div class="col-3">
            <h6>Review</h6>
        </div>
        <div class="col-7 review-container my-auto" >
            <ul class="list-inline pt-1">
                {% for n in "12345" %}
                {% if forloop.counter <= review.rating %}
                <li class="list-inline-item "><span><i class="fas fa-star review-star"></i></span></li>
                {% else %}
                <li class="list-inline-item "><span><i class="far fa-star review-empty-star"></i></span></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-2">
            <span class="collapse-button" data-toggle="collapse" data-target="#review-collapse"><i class="fas fa-caret-down"></i></span>
        </div>
    </div>
    <div class="collapse" id="review-collapse">
        <div class="row">
            <div class="col-12">
                {{ review.description }}
            </div>
        </div>
        {% if user == artifact.owner %}
        <div class="row">
            <div class="col-6 text-left">
                <button class="btn btn-primary"><a href="{% url 'add_review' artifact.id %}">Edit Review</a></button>
            </div>
            <div class="col-6 text-left">
                <button class="btn btn-dark"><a href="{% url 'delete_review' artifact.id %}">Delete Review</a></button>
            </div>
        </div>  
        <hr>         
        {% endif %}         
    </div>
    <hr>        
    {% endif %}  
    
    {% if events %}
    <div class="row  my-3">
        <div class="col-10">
            <h6>History</h6>
        </div>
        <div class="col-2">
            <span class="collapse-button" data-toggle="collapse" data-target="#history-collapse"><i class="fas fa-caret-down"></i></span>
        </div>
    </div>
    <div class="collapse" id="history-collapse">
        {% for event in events %}
        {% if event.date %}
        <div class="row">
            <div class="col-12">
                <span>{{ event.date }}</span>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <a href="{% url 'display_event' event.id %}">{{ event.name }}</a>   
            </div>
        </div>     
        {% if event.historical_figure %}
        <div class="row">
            <div class="col-12">
                <span>Held by <a href="{% url 'display_historical_figure' event.historical_figure.id %}">{{ event.historical_figure.name }}</a></span>
            </div>
        </div>        
        {% endif %}
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    <hr>
    {% endif %}
    
    {% if historical_figures %}
    <div class="row  my-3">
        <div class="col-10">
            <h6>Historical Figures</h6>
        </div>
        <div class="col-2">
            <span class="collapse-button" data-toggle="collapse" data-target="#historical-figures-collapse"><i class="fas fa-caret-down"></i></span>
        </div>
    </div>   
    <div class="collapse" id="historical-figures-collapse">
        {% for historical_figure in historical_figures %}
        <div class="row">
            <div class="col-12">
                <a href="{% url 'display_historical_figure' historical_figure.id %}">{{ historical_figure.name }}</a>   
            </div>
        </div>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    <hr>
    {% endif %}
</section>

{% endblock %}

{% block modal %}
<div class="modal fade" id="bidsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Bidding History</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
            {% for bid in bids %}
            <div class="row">
                <div class="col-l-4 col-sm-12">
                    <span>{{ bid.time }}</span>
                </div>
                <div class="col-l-4 col-sm-12">
                    <span>Bid: £{{ bid.bid_amount }}</span>    
                </div>    
                <div class="col-l-4 col-sm-12">
                    {% if user == bid.bidder %}
                    <span>Bidder: {{ bid.bidder }}</span> 
                    {% elif bid.bidder.profile.remain_anonymous is False %}
                    <span>Bidder: {{ bid.bidder }}</span> 
                    {% else %}
                    <span>Bidder: Anonymous</span>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>    
</div>

{% endblock %}

