{% extends 'base.html' %} 
{% load static from staticfiles %} 
{% load bootstrap_tags %} 

{% block head_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %} 

{% block content %}
<div class="artifact-information container-fluid">
    <div class="row">
        <div class="col-4">
            <h2>{{ artifact.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>{{ artifact.description }}</h3>
        </div>
        <div class="col-6 offset-2 artifact" style="background-image: url('{{ MEDIA_URL}}{{ artifact.image }}'); ">
            {% if artifact.sold is True %}
            <div class="text-center">
                <img class="artifact img-fluid" src="{{ MEDIA_URL }}images/sold.png"></img>
            </div>
            {% endif %}
        </div>
    </div>

    {% if artifact.sold is False %}
    <div class="row">
        <div class="col-12">
            <h4 class="auction-status"></h4>            
        </div>
    </div>
    {% endif %}
    <div class="row auction-timer-container" style="display:none">
       <div class="col-12">
            <h5 class="auction-timer"></h5>
        </div>
    </div>
    
    <div class="row auction-bid-status" style="display:none">
        <div class="auction-starttime" data-starttime="{{ artifact.date_listed }}"></div>
        <div class="auction-endtime" data-endtime="{{ artifact.date_auction_end }}">  </div>
        <div class="auction-artifactid" data-artifactid="{{ artifact.id }}">  </div>
        <div class="col-6">
            {% if artifact.current_bidder is None %}
            <h3>No bids</h3>
            {% else %}
            <div>
                <h3 class="auction-current-bid">Current bid: £{{ artifact.bid }}</h3>
                {% if artifact.current_bidder == user %}
                <h3>You are the current highest bidder</h3>
                {% elif artifact.current_bidder.profile.remain_anonymous %}
                <h3>The bidder wishes to remain anonymous</h3>
                {% else %}
                <h3>Current highest bidder: {{ artifact.current_bidder }}</h3>
                {% endif %}
            </div>    
            {% endif %}
        </div>
    </div>    
    
   {% if artifact.sold is False %}
        {% if user.is_authenticated %}             
        <div class="row">
            {% if artifact.bid < artifact.reserve_price %}
            <div class="col-3 auction-button-buynow-container">
                <button><a href="{% url 'add_to_collection' artifact.id 1 %}">Buy Now</a></button>
            </div>
            {% endif %}
            {% if artifact.current_bidder != user %}
            <div class="col-3 auction-button-bid-container">
                 <form method="POST" class="button-bid">
                    {% csrf_token %}
                    {{ bid_form | as_bootstrap }}
                    <button type="submit">Place Bid</button>
                </form>           
            </div>
            {% endif %}         
        </div>
        {% endif %}
    {% else %} 
    <div class="row">
        <div class="col-6">
            {% if artifact.owner == None %}
            <h3>Sold</h3>
            {% elif artifact.owner == user %}
            <h3>You own this artifact</h3>
            {% elif artifact.owner.profile.remain_anonymous %}
            <h3>The owner wishes to remain anonymous</h3>
            {% else %}
            <h3>Owned by {{ artifact.owner }}</h3>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
 
{% endblock %}
