{% extends 'base.html' %} 
{% load static from staticfiles %} 
{% load bootstrap_tags %} 

{% block head_js %}
<script defer src="{% static 'js/script.js' %}"></script>
{% endblock %} 

{% block content %}
<div class="artifact-information container-fluid">
    <div class="auction-artifactid" data-artifactid="{{ artifact.id }}">  </div>
    <div class="row">
        <div class="col-4">
            <h2>{{ artifact.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>{{ artifact.description }}</h3>
        </div>
        <div class="col-6 offset-2 artifact" style="background-image: url('{{ MEDIA_URL}}{{ artifact.image }}'); ">
            {% if artifact.sold is True %}
            <div class="text-center">
                <img class="artifact img-fluid" src="{{ MEDIA_URL }}images/sold.png"></img>
            </div>
            {% endif %}
        </div>
    </div>

    {% if artifact.sold is False %}
    <div class="row">
        <div class="col-12">
            <h4 class="auction-status"></h4>            
        </div>
    </div>
    {% endif %}
    
    <div class="row auction-timer-container" style="display:none">
       <div class="col-12">
            <h5 class="auction-timer"></h5>
        </div>
    </div>
    
    <div class="row auction-bid-status" style="display:none">
        <div class="col-6">
            {% if auction.current_bidder is None %}
            <h3>No bids</h3>
            {% else %}
            <div>
                <h3 class="auction-current-bid">Current bid: £{{ auction.current_bid }}</h3>
                {% if auction.current_bidder == user %}
                <h3>You are the current highest bidder</h3>
                {% elif auction.current_bidder.profile.remain_anonymous %}
                <h3>The bidder wishes to remain anonymous</h3>
                {% else %}
                <h3>Current highest bidder: {{ auction.current_bidder }}</h3>
                {% endif %}
            </div>    
            {% endif %}
        </div>
    </div>    
    
    {% if user.is_authenticated %}             
    <div class="row auction-buttons">
        <div class="col-3">
            <h4>Reserve: £{{ auction.reserve_price }}</h4>
            <button><a href="{% url 'add_to_collection' artifact.id 1 %}">Buy Now</a></button>
        </div>
        {% if auction.current_bidder != user %}
        <div class="col-3">
             <form method="POST" class="button-bid">
                {% csrf_token %}
                {{ bid_form | as_bootstrap }}
                <button type="submit">Place Bid</button>
            </form>           
        </div>
        {% endif %}
    </div>    
    {% endif %}   
    
    <div class="row auction-sold-status" style="display:none">
        <div class="col-6">
        {% if artifact.sold is False %}
            {%if auction.current_bidder is not None %}
                {% if auction.current_bidder == user %}
                    <h3>Congratulations you won this artifact.</h3>
                    <button><a href="{% url 'add_to_collection' artifact.id 0 %}">Pay Now</a></button>
                {% elif auction.current_bidder.profile.remain_anonymous %}
                    <h3>This artifact has been won. The winner wishes to remain anonymous</h3>
                {% else %}
                    <h3>Won by {{ artifact.owner }}</h3>
                {% endif %}
            {% endif %}
        {% else %} 
            {% if artifact.owner == None %}
            <h3>Sold</h3>
            {% elif artifact.owner == user %}
            <h3>You own this artifact</h3>
            {% elif artifact.owner.profile.remain_anonymous %}
            <h3>This artifact has been purchased. The owner wishes to remain anonymous</h3>
            {% else %}
            <h3>Owned by {{ artifact.owner }}</h3>
            {% endif %}
        {% endif %}
        </div>
    </div>    
</div>
 
{% endblock %}
